$primary: #819f84;
// $primary: rgb(255, 254, 224);

// #411610
// #822C1F
// #688B6D
// #8EA466
// #BEB268
// #EAC56C

// #FDE88D
// #FFCB9C
// #FDA8A5
// #819F84
// #CC9266
$secondary: #cc9266;
$light: #fde88d;
$headings-font-weight: 900;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap";
:root {
  --bs-body-font-family: "Nunito Sans", sans-serif;
}
