$primary: #918450;
$secondary: #a3b18a;
$headings-font-weight: 300;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// import font
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap");

:root {
  --bs-body-font-family: "Nunito Sans", sans-serif;
}
