html {
  /*font-size: 10px;*/
  /*10px / 16px = 0.625 = 62.5% */
  /*percentage of user's browser font-size setting*/
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 4.8rem;
  /* color: red; */
}

h1 .meal-grid {
  margin: 0 auto;
}

.meal-img {
  width: 15%;
}



.card-meal {
  margin: 0 auto;
  padding: 0 !important;
  overflow: hidden;
  margin-bottom: 2.4rem;
  margin-left: 9.6rem;
  width: 4.8rem;

}


.card-title {
  text-align: center;
}

.meal-title {
  padding: 1.2rem;
  background-color: blanchedalmond;
}

.meal-content {
  display: block;
  padding: 1.4rem;
  background-color: red;

  text-align: center;

  
}

.meal-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  padding: 2.4rem;
}

.meal-detail {
  font-size: 1.8rem;
  background-color: blue;
  padding: 1.2rem;
}


.meal-tags {
  display: flex;
  gap: 2rem;
}

.tags {
  display: block;
  text-align: center;
  font-size: 1rem;
  background-color: seagreen;

  padding: 1rem;
  width: 7rem;
  border-radius: 75rem;
}

.recipe-content {
  font-size: 1.6rem;
  /* padding: 1.2rem; */
}

.ing-list {
  list-style: none;
  margin: 0;
}
