.nav {
  justify-content: flex-end;
}

.meal-card {
  margin: 0 auto;
  padding: 0 !important;
  padding-bottom: 0;
  overflow: hidden;
  margin-bottom: 2.4rem;
  width: 25rem;
}

/* .card-body {
  padding-bottom: 0 !important;
} */

.tags {
  display: inline-block;
  background-color: #a3b18a;
  color: white;
  margin: 12px;
  margin-left: 0;
  text-align: center;

  padding: 0.5rem;
  border-radius: 48px;
  width: 5.6rem;
}

.price {
  margin-left: 2.4rem;
}

.hidden {
  display: none;
}

.details-list {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.detail {
  border-bottom: 2px solid green;
  text-align: center;
  padding: 1rem;
  width: 9rem;
}
