* {
  font-family: "Quicksand", sans-serif;
}

.primary-bg {
  /* background-color: #f6e7a6; */
  background-color: #819f84;
}

.secondary-bg {
  background-color: #fde88d;
}

.nav {
  justify-content: center;
  font-weight: 400;
  font-size: 1.2rem;

  /* background-color: red; */
}
/* .nav-link {
  color: white;
} */

/*HEADER*/
.header {
  padding-top: 2.4rem;
  padding-bottom: 2.8rem;
  color: white;
}
.header-img {
  border-radius: 10px;
}

.logo {
  position: absolute;
  top: -50%;
  left: 5%;
}

/*HERO-SECTIOn*/
.hero {
  padding: 4.8rem;
  padding-top: 0;
  color: white;
  /* margin-top:2rem; */
}
.hero-btn {
  margin: 0;
  position: absolute;
  transform: translate(-50%, 80%);
  font-size: 1.8rem;
}

/*HOW-TO-SECTION*/
.how {
  padding: 9.6rem 0;
}

.how-img {
  max-width: 50rem;
  /* box-shadow: -12px 15px 15px #cc9266; */
}

.how-container {
  margin-top: 4.8rem !important;
  /* margin-bottom: 9.6rem !important; */
}

/* .how-description {
  padding: 0 4.8rem;
} */

/* MEAL-SECTION */
.meals {
  padding: 9.6rem 4.8rem;
  /* padding-top: 9.6rem; */

  margin: 0 auto;
}

.meal {
  padding: 4.8rem;
}

.card {
  padding: 0 !important;
  overflow: hidden;
  transition: all 0.4s;

  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1); */
}
.card-text {
  padding: 1rem;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem #cc92666b;
}

/*CTA-SECTION*/
.btn-form {
  margin-top: 1.5rem;
}

/* FORM CONTAINERS */
.section-container {
  margin: 2rem 4.8rem 0 !important;

  padding: 8rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

  border-radius: 1rem;
}

.section-container-form3 {
  margin: 2rem 3rem 0 !important;
  border-radius: 1rem;
  padding: 2rem;
}

.number {
  text-align: center;
  font-size: 9.6rem;
  color: white;
  font-weight: 100;
  opacity: 50%;
  margin: 4.8rem;
}

.input {
  margin-top: 4.8rem !important;
  margin: 0 auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

/* FORM-FOOTER */
.form {
  padding: 4.8rem 0;
  /* color: white; */
}
/* FORMS */

/* GENERAL HELPER CSS */
